<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <table>
    <tr><th>Voters</th></tr>
    <tr>
    <th>Name</th>
    <th>Id</th>
    </tr>
  <tr *ngFor='let com of voters'>
  <td>{{com.name}}</td>
  <td>{{com.id}}</td>
</tr>
</table>
<table>
  <tr><th>Candidates</th></tr>
  <tr>
  <th>Name</th>
  <th>Id</th>
  </tr>
<tr *ngFor='let com of candidates'>
<td>{{com.name}}</td>
<td>{{com.id}}</td>
</tr>
</table>
<table>
  <tr><th>VoterCandidates</th></tr>
  <tr>
  <th>Name</th>
  <th>Id</th>
  </tr>
<tr *ngFor='let voterCandidate of voterCandidates'>
<td>{{voterCandidate.voterId}}</td>
<td>{{VoterCandidate.candidateId}}</td>
</tr>
</table>
</body>
